/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /*qualidade homer*/
  .qualidade::after {
    right: 66px;
  }
  .qualidade_lista li {
    padding: 0 10px;
  }
  /*portifolio*/
  .portifolio ul li img {
    display: block;
    max-width: 100%;
  }
  /*footer*/
  .footer_redes ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
  }
  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }

  /*produtos*/
  .produtos_item {
    padding-bottom: 0;
  }
  .produtos_item h2 {
    top: -150px;
    margin-bottom: -50px;
  }

  .produto_icone {
    padding: 41px 0;
  }
  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 119px;
  }
  .produto_info ul li {
    width: 181px;
  }

  /*contato*/
  .contato_dados ul li {
    margin: 0;
  }
  .contato_dados ul li a {
    padding: 8px;
  }
  /*Final do estilo para tablet*/
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    margin-bottom: 0;
  }
  .header img {
    margin: 0 auto 20px auto;
  }
  .header_menu {
    text-align: center;
    margin: auto;
  }
  .header_menu ul li {
    margin: 5px;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }
  .header_menu ul li a:hover {
    border-color: #fff;
  }
  .header_menu ul li a.menu_ativo {
    border-color: #fff;
  }
  /*introdução*/
  .introducao {
    margin-top: 0;
    padding-top: 20px;
    background: url("../IMG/bg-mobile.jpg") no-repeat Scenter;
    background-size: cover;
  }

  .introducao h1 {
    padding-top: 30px;
    font-size: 36px;
  }

  /*Introdução Interna*/
  .introducao-interna {
    margin-top: 0;
  }

  /*call*/
  .call {
    padding-top: 10px;
  }

  /*qualidade homer*/
  .qualidade::after {
    display: none;
  }
  /*Sobre*/
  .missao_sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
  }
  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }
  /*produtos*/
  .produtos_item {
    padding-bottom: 0;
  }
  .produtos_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto_icone {
    padding: 41px 0;
  }
  .produto_info p {
    font-size: 14px;
    line-height: 20px;
  }
  .produto_info ul li {
    width: 149px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0;
  }

  .orcamento_dados ul {
    padding-right: 0;
  }
  /*contato*/
  .contato_form {
    padding-right: 20px;
  }

  .contato_dados ul li {
    margin: 10px;
    margin-right: 20px;
  }
  .contato_dados ul li a {
    padding: 8px;
  }
  .contato_mapa {
    margin-bottom: 60px;
  }
  /*final do estilo para smartphone*/
}
